extends layout

block content
  h1= title
  if (user)
    p Welcome, #{user.email}!
    p
      a.me-2(href="/product/new") Create Product
      a.ms-2(href="/product/search") Search Products
  else
    p Welcome, Guest!
    p
     a(href="/product/search") Search Products
  h4 Recently added
  div.row.h-100.justify-content-center
    for product in submittings
      div.card.col-12.col-md-6.col-lg-3.p-0.m-1
        img.card-img-top.img-card(src=product.imagesSubmittings[0].imageUrl)
        - const url = `/product/${product.uuid}`
        div(href=url).card-body
          .d-flex.justify-content-between 
            span.card-text.badge.bg-secondary #{product.category.name}
            span.card-text.badge.bg-primary #{product.users.firstName + " " + product.users.lastName}
          .d-flex.justify-content-between
            h5.card-title #{product.title}
            p.card-text $ #{product.unitPrice}
          p.card-text Stock left: #{product.stock}
          .d-flex.justify-content-between
            a.btn.btn-primary(href=url) Details
            form(method='post' action='/product/'+product.uuid+'/add')
              input.btn.btn-success(type='submit' value='Add to cart')
        
  