extends ../layout 
block content 
    h1= title
    form(action="/checkout", method="post")
        for product in cart 
            div.card.col-12.mb-3
                - const url = `/product/${product.uuid}`
                div(href=url).card-body
                    .d-flex.justify-content-between 
                    .d-flex.justify-content-between
                        h5.card-title #{product.title}
                        p.card-text $#{product.unitPrice}
                    p.card-text Stock left: #{product.stock}
                    div.d-flex
                    input.form-control.w-100(type="hidden" name="productId" value=product.uuid required)
                    input.form-control.w-100(type="number" name="stockAcquired" value=1 min=1 max=product.stock required)
        input.form-control.btn.btn-success(type="submit" value="Checkout")